.note-form{
    max-width: 400px;
    margin: 0 auto;
    
}
#note_table_container{
    text-align: center;
    margin: 0 auto;
    margin-left: 50px !important;
}
#notes-table td:nth-child(1),
#notes-table th:nth-child(1) {
    display: none;
}
.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#form-header{
    text-align: center;
    margin-left: 60px;
}
.label-left {
    flex: 1;
    text-align: left;
}

.label-left::after {
    content: '*';
    color: red; 
}
.input-right {
    flex: 2;
    text-align: left;
    border-radius: 5px; 
    height: 20px;
    width: 80px;
    padding: 5px;
    border-width: thin;
}



.button-group {
    text-align: center;
    margin-left: 80px;
}
.edit-button{
   
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    width: 70px;
}
.delete-button{
   
    border: none;
    border-radius: 5px;
    background-color: #dc3545;; 
    width: 70px;
}
#cancel_button{
    border: none;
    border-radius: 5px;
    background-color: #dc3545;; 
    width: 80px;
    font-size: 18px;
    
}
#submit_button{
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    width: 80px;
    font-size: 18px;
}

#empty-table-message {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f8f8f8;
}

#empty-table-message p {
    color: #555;
    font-size: 16px;
    margin: 0;
}

#description{
    border-radius: 12px; 
    height: 80px;
    padding: 10px;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #0000006b; 
}

tr:nth-child(even) {
    background-color: #dcdcdc; 
}

tr:nth-child(odd) {
    background-color: #ffffff; 
}
button {
    margin: 5px; 
}
body{
    font-family: 'Roboto', sans-serif;
}
input, textarea {
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
    
}